#------------------------------------
# Configuration for clang-format v18
#------------------------------------

# Base configuration
BasedOnStyle: LLVM
Language: Cpp
DisableFormat: false

#------------------------------------
# Indentation
#------------------------------------
UseTab: Never
IndentWidth: 2
TabWidth: 2
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
NamespaceIndentation: All
AccessModifierOffset: -2
IndentPPDirectives: BeforeHash
IndentCaseLabels: false

#------------------------------------
# Braces and line breaks
#------------------------------------
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
BreakBeforeBinaryOperators: NonAssignment
BreakStringLiterals: false
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakAfterDefinitionReturnType: None

#------------------------------------
# Short statements
#------------------------------------
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

#------------------------------------
# Empty lines
#------------------------------------
KeepEmptyLinesAtEOF: false
KeepEmptyLinesAtTheStartOfBlocks: false
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Always
SeparateDefinitionBlocks: Always

#------------------------------------
# Spacing
#------------------------------------
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: Leave # C++03 compatibility
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: false
SpacesInContainerLiterals: false
SpacesInSquareBrackets: false

#------------------------------------
# Alignment
#------------------------------------
PointerAlignment: Left
ReferenceAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: false
AlignOperands: Align
AlignAfterOpenBracket: Align

#------------------------------------
# Line length and wrapping
#------------------------------------
ColumnLimit: 120
ReflowComments: false

#------------------------------------
# Includes
#------------------------------------
SortIncludes: true
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:    '^(<|")(.*/)?platform\.h(>|")$'
    Priority: 1
  # Must be included after u8string.h -- https://github.com/ETLCPP/etl/issues/1284
  - Regex:    '^(<|")(.*/)?basic_string_stream\.h(>|")$'
    Priority: 99
  - Regex:    '.*'
    Priority: 50

#------------------------------------
# Arguments and parameters
#------------------------------------
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: CurrentLine

#------------------------------------
# Templates and modern C++
#------------------------------------
Cpp11BracedListStyle: true

#------------------------------------
# Namespaces and using declarations
#------------------------------------
FixNamespaceComments: true
SortUsingDeclarations: false